<!DOCTYPE html>
<html lang= 'en'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>wanjiru Resume - HTML & CSS</title>
        <link rel="stylesheet" href="style.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    </head>
    <body>
        
        <div class="container">


            <div class="contact">
             
                <ul>
                    <p class="name">MURIRA MONICAH WANJIRU</p>
                    <p class="email">wanjirumurira@gmail.com</p>
                    <p class="contact-info"><a href="https://www.linkedin.com/in/wanjiru-murira">https://www.linkedin.com/in/wanjiru-murira</a>|+254791604280| <a href="https://github.com/wanjirumurira">https://github.com/wanjirumurira</a></p>
                </ul>
                    
                
            </div>

            <div class="info-section">
                <section>
                    <div class ="skills">
                        <h3>SKILLS</h3>
                        <div class="section-skills">
                            <ul class="first-section">
                                <Li>Python(Django)</Li>
                                <Li>Java</Li>
                                <Li>Databases(MySQL/PostgreSQL)</Li>
                            </ul>
        
                            <ul class="second-section">
                                <Li>Cloud Computing(AWS)</Li>
                                <Li>Version Control(GitHub)</Li>
                                <Li>APIs</Li>
                            </ul>
        
                            <ul class="third-section">
                                <Li> HTML/CSS</Li>
                                <li>Linux</li>
                            </ul>
                        </div>
                    </div>
                </section>
                
                <section>
                    <div class="summary">
                        <h3>SUMMARY</h3>
                        <P>A self-taught software engineer with an interest in cloud computing. I&#8217m looking for a position where I can bring my 
                            skills to an intelligent team that fosters a space for communication and growth. </P>
        
                    </div>
                </section>
                
                <section>
                    <div class="experience">
                        <h3>WORK EXPERIENCE </h3>
                        <div class="first-work">
                            <b><i>KRA Intern | December 2022 &#45; Present</i></b>
                            <ul>
                                <li>Diagnosing the source of users&#8217; IT problems.</li>
                                <li>Escalating complex problems and making users aware of the impact of this.</li>
                                <li>Installing and Configuring computer hardware, software, systems, networks, printers and scanners.</li>                     </li>
                                <li>Planning and undertaking scheduled maintenance upgrades.</li>
                                <li>Managing stocks of equipment, components and other supplies</li>
                            </ul>
                        </div>
        
                        <div class="second-work">
                            <b><i>Safaricom PLC Intern | August 2019 &#45; November 2019</i></b>
                            <ul>
                                <li>Taking ownership of internal user issues reported and seeing problems through to resolution.</li>
                                <li>Researching, diagnosing, troubleshooting and identifying solutions to resolve system issues.</li>
                                <li>Following standard procedures for proper escalation of unresolved issues to the appropriate internal teams.</li>
                                <li>Resolving network issues, configuring operating systems and using remote desktop connections to provide immediate support.</li>
                                <li>Diagnose and troubleshoot technical issues, including account setup and network configuration.</li>
                            </ul>
                            
                        </div>
        
                    </div>
                </section>
                
                <section>
                    <div class="projects">
                        <h3>RECENT TECHNICAL PROJECTS</h3>
                        <ul>
                            <li> Issue Tracker (Python/Django/HTML/CSS) <br>
                                An issue tracker is a software tool that helps individuals and teams track and manage issues or bugs that arise 
                                during software development or other projects. The purpose of this issue tracker is to provide a centralized 
                                location for recording, tracking, and resolving issues, which can help ensure that they are addressed in a timely 
                                and efficient manner.</li>
                            <li> 
                                AWS Cloud Challenge <br>
    
                                I'm working on it now
    
                            </li>
                        </ul>
        
                    </div>
                </section>
             
                <section>
                    <div class="education">
                        <h3>EDUCATION</h3>
                        <ul>
                            <li>Jomo Kenyatta University of Agriculture and Technology | Second class honors (Upper Division) | 2016 &#45; 2022 <br>
                                Bachelor of Science in Electrical and Electronics Engineering </li>
                        </ul>   
                    </div>
                </section>
                
                <section>
                    <div class="development">
                        <h3>PERSONAL DEVELOPMENT</h3>
                        <ul>
                            <a style="color: black;" href="https://www.credly.com/badges/60d6e1f8-ead0-48f9-9935-db453903eace"><li>AWS Certified Solutions Architect </li></a>
                            <a  style="color: black;" href="https://www.credly.com/badges/bbf49bbe-4e97-4344-a3ce-162916e551bb/linked_in_profile"><li>AWS Certified Cloud Practioner</li></a>
                        </ul>
                       
                    </div>
                </section>
                
                <section>
                    <div class="hobbies">
                        <p>
                            <h3>HOBIES:</h3> Hiking, Reading Novels, Participating in Community Outreach Programs, Watching Documentaries 
                        </p>
                    </div>
        
                </section>
                
            </div>


            </div>

            

    </body>
        
</html>